# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Production directories
dist
dist-ssr

# Local environment files
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend specific files
/backend/node_modules
/backend/logs
/backend/*.log

# Frontend specific files
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
